<section class="hero hero--ms">

    <div class="hero--ms__wrapper">
        <h1 class="global__header1 color--brand1">L’appli BienCanadiens : pratique, conviviale, sécuritaire</h1>
        <ul class="global__bullet-list">
            <li class="bullet-list__list-item">Cherchez « BienCanadiens » dans Google Play ou l’App Store, puis
                sélectionnez « Installer » ou « Obtenir ».</li>
            <li class="bullet-list__list-item">Autorisez les notifications poussées afin d’être à jour et d’avoir accès
                aux nouvelles ressources, mais aussi pour recevoir les messages de votre conseiller (counseling par
                clavardage seulement).</li>
            <li class="bullet-list__list-item">Dans l’appli, faites une recherche dans les ressources de santé et de
                bien être liées à la COVID 19.</li>
            <li class="bullet-list__list-item">Communiquez avec des conseillers chevronnés si vous souhaitez obtenir du
                counseling par téléphone ou par clavardage.</li>
        </ul>
        <!-- <p class="hero__paragraph color--brand1">Start today and save</p>
        <h2 class="hero__price color--brand1">$125<span class="hero__paragraph hero__paragraph--astrisks">*</span></h2>
        <p class="hero__paragraph--small color--brand1">* Limited time offer</p> -->
        <div class="downloadBtns">
            <a href="#"><img src="assets/images/landing/download-on-app-store.png" class="app-download-apple"
                    alt="Download on the App Store"></a>
            <a href="#"><img src="assets/images/landing/google-play-badge.png" class="app-download-google"
                    alt="Download on Google Play"></a>
        </div>
    </div>

    <img src="assets/images/landing/hero-download.svg"
        class="global_image hero--ms__featuredImg hero--ms__featuredImg--download"
        alt="Illustration of the WellCan app assessment" />
</section>