<section class="hero hero--ms">

    <div class="hero--ms__wrapper">
        <h1 class="global__header1 color--brand1">The WellCan App: convenient, easy, secure</h1>
        <ul class="global__bullet-list">
            <li class="bullet-list__list-item">Search WellCan in the Google Play or Apple App Stores, and select
                ‘Install’ / ‘Get’</li>
            <li class="bullet-list__list-item">Allow push notifications so you’re up to date on new resources and
                receive counsellor messages (text-based counselling only)</li>
            <li class="bullet-list__list-item">Browse COVID-19 health and well-being resources in the app</li>
            <li class="bullet-list__list-item">Reach qualified counsellors for telephone or online chat counselling</li>
        </ul>
        <!-- <p class="hero__paragraph color--brand1">Start today and save</p>
        <h2 class="hero__price color--brand1">$125<span class="hero__paragraph hero__paragraph--astrisks">*</span></h2>
        <p class="hero__paragraph--small color--brand1">* Limited time offer</p> -->
        <div class="downloadBtns">
            <a href="#"><img src="assets/images/landing/download-on-app-store.png" class="app-download-apple" alt="Download on the App Store"></a>
            <a href="#"><img src="assets/images/landing/google-play-badge.png" class="app-download-google" alt="Download on Google Play"></a>
        </div>
    </div>

    <img src="assets/images/landing/hero-download.svg"
        class="global_image hero--ms__featuredImg hero--ms__featuredImg--download" alt="Illustration of the WellCan app assessment" />
</section>