// @import "../../../../assets/sass/explore/sass/config/_colors.scss";

.img {
  width: auto !important;
}

.global__explore__individual_category__page,
.global__explore__searched__articles__page {
  .individual_category_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .individual_category_div-wrapper {
      max-width: 1300px;
      width: 85vw;


      .individual_category-div {
        padding-bottom: 1.25rem;

        .global_header2 {
          font-weight: 600;
          line-height: 3.125rem;
          color: var(--brand-color-1);
          margin-bottom: 1.875rem;
        }

        .category_articles-wrapper {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;

          .category_article_card-div {
            position: relative;
            max-width: 22.5rem;
            box-shadow: -5px 2px 8px rgba(197, 197, 197, 0.5);
            background: var(--text-color__light);
            margin-bottom: 2.5rem;
            display: flex;
            flex-direction: column;

            &:first-child {
              margin-left: 0;
            }

            .category_article-img,
            .category_article-video {
              min-width: 22.5rem;
              width: 100%;
              flex: 1.2;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              min-height: 275px;
              border-radius: 8px 8px 0 0;

              iframe {
                width: 100%;
                height: 100%;
              }
            }

            .category_article-body {
              padding: 0 24px 24px;
              display: flex;
              flex-direction: column;
              flex: 1;
              justify-content: space-evenly;

              .read_article_btn {
                position: absolute;
                bottom: 24px;
                right: 24px;
                margin-left: auto;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;
                color: var(--brand-color-1);
              }
            }

            // .article_type_wrapper {
            //   height: 100%;
            //   display: flex;
            //   flex-direction: column;
            // }
          }

          .category_article_not_found {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .category_article_not_found-image {
              height: 60vh;
              margin-right: 20px;
            }

            .category_article_not_found-message {
              .message {
                text-align: center;
                line-height: 2.5rem;
              }
            }
          }
        }
      }

    }
  }


  @media screen and (max-width: 640px) {
    .individual_category_container {
      .individual_category_div-wrapper {
        .individual_category-div {
          .category_articles-wrapper {
            .category_article_card-div {
              height: auto;
              width: 19rem;

              .article_type_wrapper {

                .category_article-img,
                .category_article-video {
                  flex: 1;
                  min-width: 100%;
                  min-height: 200px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  iframe {
                    max-height: 150px;
                  }
                }

                .category_article-body {
                  padding: 1rem;
                }
              }

            }
          }
        }
      }
    }
  }
}
