// @import "../../../../assets/sass/explore/sass/config/_colors.scss";

.img {
  width: auto !important;
}

.global__explore__allCategories__page {
  .allCategories_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .specific_category_div-wrapper {
      max-width: 1300px;
      width: 100%;

      .specific_category-div {
        padding-bottom: 1.25rem;
        display: flex;
        flex-direction: column;

        .category_title_and_show_all_btn-div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.875rem;
          width: 95%;
          margin-left: auto;
          margin-right: auto;

          .global_header2 {
            font-weight: 600;
            line-height: 3.125rem;
            color: var(--brand-color-1);
          }

          .show_all_btn {
            font-weight: 600;
            font-size: 1.125rem;
            color: var(--link_default);
            line-height: 1.5625rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover,
            &:focus {
              color: var(--link_hover);
            }

            img {
              margin-left: 0.5rem;
            }
          }
        }

        .category_articles-wrapper {
          display: flex;
          justify-content: space-around;
          margin-left: auto;
          margin-right: auto;

          .category_article_card-div {
            max-width: 22.5rem;
            box-shadow: -5px 2px 8px rgba(197, 197, 197, 0.5);
            background: var(--text-color__light);
            margin-bottom: 2.5rem;
            display: flex;
            border-radius: 8px;
            flex-direction: column;
            margin-right: 1.25rem;
            margin-left: 1.25rem;
            position: relative;
            border-radius: 8px;

            .category_article-img,
            .category_article-video {
              min-width: 22.5rem;
              width: 100%;
              flex: 1.2;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              min-height: 275px;
              border-radius: 8px 8px 0 0;

              iframe {
                width: 100%;

              }
            }

            .global_header3 {
              padding-bottom: 0;
              margin-bottom: 0;
            }

            .category_article-body {
              padding: 0 24px 24px;
              display: flex;
              flex-direction: column;
              flex: 1;
              justify-content: space-evenly;


          
              .read_article_btn {
                margin-left: auto;
                position: absolute;
                bottom: 24px;
                right: 24px;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;
                color: var(--link_default);

                &:hover,
                &:focus {
                  color: var(--link_hover);
                }

                &:visited {
                  color: var(--link_visited);
                }
              }
            }

            // .article_type_wrapper {
            //   height: 100%;
            //   display: flex;
            //   flex-direction: column;
            // }
          }
        }
      }

    }

  }

  //Responsive styles
  @media screen and (max-width: 1250px) {
    .allCategories_container {
      .specific_category_div-wrapper {
        .specific_category-div {
          .category_articles-wrapper {
            justify-content: space-between;
            margin: 0 1.25rem;
            overflow: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .allCategories_container {
      .specific_category_div-wrapper {
        .specific_category-div {
          .category_articles-wrapper {
            justify-content: inherit;

            .category_article_card-div {
              height: auto;

              .article_type_wrapper {

                .category_article-img,
                .category_article-video {
                  flex: 1;
                  min-width: 15rem;
                  min-height: 150px;

                  iframe {
                    max-height: 150px;
                  }
                }

                .category_article-body {
                  padding: 1rem;
                }
              }

            }
          }
        }
      }
    }
  }
}
