<div class="global__explore__allCategories__page">

  <section class="allCategories_container">
    <div class="specific_category_div-wrapper">

      <!----------------------------- Category -------------------------------------->

      <div class="specific_category-div" *ngFor="let category of categories">
        <div class="category_title_and_show_all_btn-div">
          <h2 class="category_title global_header2">{{ category.name }}</h2>
          <a [routerLink]="['../individualCategory', category.id]" type="link" class="show_all_btn" tabindex="0">
            Show All
            <img src="../../../../assets/images/explore/right-arrow.svg" alt="right-arrow">
          </a>
        </div>
        <div class="category_articles-wrapper">
          <!----------------------------- article -------------------------------------->

          <div class="category_article_card-div" *ngFor="let article of category.articles | slice: 0:3; let i = index;">
            <!----------------------------- text -------------------------------------->
            <div *ngIf="article.type === 'text'" class="article_type_text-wrapper article_type_wrapper">
              <!-- <img class="category_article-img" src="{{article.img_url}}" alt="image"> -->
              <div class="category_article-img" [ngStyle]="{'backgroundImage': 'url(' + article.img_url + ')'}"><span
                  class="sr-only">Image</span></div>
              <div class="category_article-body">
                <h3 class="category_article-title global_header3">{{article.title}}</h3>
                <p class="category_article-paragraph global__paragraph" [innerHTML]="cleanHTML(article.content)"></p>
                <a type="link" class="read_article_btn" tabindex="0" (click)="onReadArticle(article.id)">
                  <img src="../../../../assets/images/explore/read_article_right_arrow.svg" alt="right-arrow">
                  Read Article
                </a>
              </div>
            </div>

            <!----------------------------- video -------------------------------------->

            <div *ngIf="article.type === 'video'" class="article_type_video-wrapper article_type_wrapper">
              <!-- <img class="category_article-img" src="{{article.img_url}}" alt="image"> -->
              <div class="category_article-video" [innerHTML]="article.content"><span class="sr-only">Video</span></div>
              <div class="category_article-body">
                <h3 class="category_article-title global_header3">{{article.title}}</h3>
                <a type="link" class="read_article_btn" tabindex="0" (click)="onReadArticle(article.id)">
                  <img src="../../../../assets/images/explore/read_article_right_arrow.svg" alt="right-arrow">
                  Watch Video
                </a>
              </div>
            </div>


            <!----------------------------- infographic -------------------------------------->

            <div *ngIf="article.type === 'infographic'" class="article_type_infographic-wrapper article_type_wrapper">
              <!-- <img class="category_article-img" src="{{article.img_url}}" alt="image"> -->
              <div class="category_article-img" [ngStyle]="{'backgroundImage': 'url(' + article.img_url + ')'}"><span
                  class="sr-only">Image</span></div>
              <div class="category_article-body">
                <h3 class="category_article-title global_header3">{{article.title}}</h3>
                <a type="link" class="read_article_btn" tabindex="0" (click)="onReadArticle(article.id)">
                  <img src="../../../../assets/images/explore/read_article_right_arrow.svg" alt="right-arrow">
                  Read Article
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </section>

</div>