<footer class="global__footer">

    <div class="footer_aboutMorneau">
        <h3 class="global__header4 global__header4--light">À propos de Morneau Shepell</h3>
        <p class="global__paragraph global__paragraph--small global__paragraph--light">Morneau Shepell est la seule
            société offrant des services-conseils et des technologies en ressources humaines à adopter une approche
            intégrée aux besoins des employés en matière de bien-être, de santé, d’assurance collective et de retraite.
            Elle est également le principal administrateur de régimes de retraite et d’assurance collective et le
            principal fournisseur de solutions intégrées en gestion des absences au Canada. LifeWorks par Morneau
            Shepell est la principale solution de bien-être global alliant des programmes d’aide aux employés, de
            bien-être, de reconnaissance et de récompenses. En tant que chef de file dans les domaines des
            services-conseils stratégiques en RH et de la conception de régimes de retraite avant-gardistes, la société
            aide aussi ses clients à résoudre des problèmes complexes liés à la main-d’œuvre et offre des solutions
            intégrées en matière de productivité, de santé et de retraite.</p>
        <p class="global__paragraph global__paragraph--small global__paragraph--light">Fondée en 1966, Morneau Shepell
            sert environ 24 000 organisations de toutes tailles, des plus petites entreprises à certaines des plus
            grandes sociétés et associations en Amérique du Nord. Comptant plus de 6 000 employés répartis dans ses
            bureaux en Amérique du Nord, au Royaume-Uni et en Australie, Morneau Shepell offre ses services à des
            organisations partout dans le monde. Morneau Shepell inc. est une société cotée à la Bourse de Toronto (TSX
            : MSI). Pour de plus amples renseignements, visitez le site</p>
    </div>

    <nav class="footer__menu">
        <a href="https://www.morneaushepell.com/ca-en/privacy-policy" target="_blank"
            class="footer__menu__item footer__menu__item--light">Confidentialité</a>
        <a href="https://morneaushepell.myicbt.com/contactus" class="footer__menu__item footer__menu__item--light">Nous
            joindre</a>
        <a href="https://www.morneaushepell.com/ca-en" target="_blank"
            class="footer__menu__item footer__menu__item--light">À propos de Morneau Shepell</a>
        <a href="https://twitter.com/Morneau_Shepell" target="_blank"
            class="footer__menu__item footer__menu__item--light">Twitter</a>
        <a href="https://www.morneaushepell.com/ca-en/terms-use" target="_blank"
            class="footer__menu__item footer__menu__item--light">Conditions d’utilisation</a>
    </nav>

    <nav class="footer__terms">
        <p class="footer__copyright global__paragraph global__paragraph--light">&copy; 2020 Morneau Shepell</p>
    </nav>
</footer>