<footer class="global__footer">

    <div class="footer_aboutMorneau">
        <h3 class="global__header4 global__header4--light">About Morneau Shepell</h3>
        <p class="global__paragraph global__paragraph--small global__paragraph--light">Morneau Shepell is the only human
            resources consulting and technology company that takes an integrated approach to employee
            well-being to meet health, benefits and retirement needs. The Company is the largest administrator of
            retirement and benefits plans and the largest provider of integrated absence management solutions in
            Canada. LifeWorks by Morneau Shepell is the leading total well-being solution that combines employee
            assistance, wellness, recognition and incentive programs. As a leader in strategic HR consulting and
            innovative pension design, the Company also helps clients solve complex workforce problems and provides
            integrated productivity, health and retirement solutions.</p>
        <p class="global__paragraph global__paragraph--small global__paragraph--light">Established in 1966, Morneau
            Shepell serves approximately 24,000 clients, ranging from small businesses to some of the largest
            corporations and associations. With more than 4,500 employees in offices across North America, the
            United Kingdom and Australia, Morneau Shepell provides services to organizations around the globe.
            Morneau Shepell is a publicly-traded company on the Toronto Stock Exchange (TSX:MSI). For more
            information, visit morneaushepell.com.</p>
    </div>

    <nav class="footer__menu">
        <a href="https://www.morneaushepell.com/ca-en/privacy-policy" target="_blank"
            class="footer__menu__item footer__menu__item--light">Privacy Policy</a>
        <a href="https://morneaushepell.myicbt.com/contactus"
            class="footer__menu__item footer__menu__item--light">Contact Us</a>
        <a href="https://www.morneaushepell.com/ca-en" target="_blank"
            class="footer__menu__item footer__menu__item--light">About Morneau Shepell</a>
        <a href="https://twitter.com/Morneau_Shepell" target="_blank"
            class="footer__menu__item footer__menu__item--light">Twitter</a>
            <a href="https://www.morneaushepell.com/ca-en/terms-use" target="_blank"
                class="footer__menu__item footer__menu__item--light">Terms</a>
    </nav>

    <nav class="footer__terms">
        <p class="footer__copyright global__paragraph global__paragraph--light">&copy; 2019 Morneau Shepell</p>
    </nav>
</footer>