<div class="global__header">

    <div class="header-menu">
        <a [routerLink]="'/home'">
            <img src="../../../assets/images/logos/wellcan-logo.svg" alt="Morneau Shepell" class="logo" />
        </a>


        <div class="menu">
            <nav class="languageMenu">
                <a href="http://biencanadiens.uat.morneaushepell.com">Françias</a> 
            </nav>

            <nav class="menu-items">
                <a [routerLink]="'/home'" [routerLinkActive]="['selected']" class="menu-item">Home</a>
                <!-- <a [routerLink]="'/downloadapp'" [routerLinkActive]="['selected']" class="menu-item">Download the App</a> -->
                <a [routerLink]="'/explore'" [routerLinkActive]="['selected']"
                    class="menu-item">Explore</a>
                <a [routerLink]="'/support'" [routerLinkActive]="['selected']" class="menu-item">Support</a>
                <a [routerLink]="'/faq'" [routerLinkActive]="['selected']" class="menu-item">FAQ</a>
                <!-- <language-selector></language-selector> -->
                
            </nav> 
        </div>

        
    </div>
</div>