<div class="global__explore__secondary_navigation__page">
  <h1 class="global__header1 color--brand1">Explorez</h1>
  <p class="global__paragraph">
    La section Explorer de BienCanadiens propose de nombreuses ressources utiles et accessibles en tout temps pour vous
    aider à prendre en main votre bienêtre pendant la pandémie de COVID19, dont les suivantes :
  </p>
  <ul class="global__bullet-list">
    <li class="bullet-list__list-item">Boîtes à outils pour vous adapter au télétravail</li>
    <li class="bullet-list__list-item">Conseils pour pratiquer l’éloignement physique efficacement et utiliser la
      technologie pour briser la solitude lorsqu’on est en isolement ou en quarantaine</li>
    <li class="bullet-list__list-item">Articles sur la manière de composer avec la tristesse, l’anxiété, le stress et
      plus encore.
    </li>
  </ul>

  <div id="header-2" class="header">
    <nav class="header-nav secondary_nav_search_box-section">

      <ul class="menu menu-items">
        <li *ngFor="let category of categories">
          <a [routerLink]="['./individualCategory', category.id]" [routerLinkActive]="['selected']">
            {{ category.name }}
          </a>
        </li>
      </ul>
      <!--<div class="search-box">
          <input type="text" [(ngModel)]="searchTerm"  #inputBox class="text search-input glyphicon glyphicon-search search-icon"  placeholder="Type here to search..."/>
        </div>
        <div class="search-button" >
          <button class="search-toggle" tabindex = "0" (click) = "onSearchClick($event)" data-selector="#header-2" [ngClass]="focusSearch ?'active':''"  >
            <span class="sr-only" aria-hidden="true">{{ 'SEARCH_TITLE' | translate}}</span>
          </button>
        </div>-->
    </nav>


  </div>

</div>