:root {
    --landing__columns: 1fr;
    --landing__rows: 9.729064039408867vh auto auto 1fr;
    --landing__areas:
    " global__header "
    " landing__hero "
    " landing__whatIs "
    " landing__features "
    " landing__howWorks "
    " global__footer ";
}