<section class="hero hero--ms">

    <div class="hero--ms__wrapper">
        <h1 class="global__header1 color--brand1">Help when you need it. Where you need it.</h1>
        <!-- <p class="hero__paragraph color--brand1">Start today and save</p>
        <h2 class="hero__price color--brand1">$125<span class="hero__paragraph hero__paragraph--astrisks">*</span></h2>
        <p class="hero__paragraph--small color--brand1">* Limited time offer</p> -->
        <div class="downloadBtns">
            <a href="#"><img src="assets/images/landing/download-on-app-store.png" class="app-download-apple" alt="Download on the App Store"></a>
            <a href="#"><img src="assets/images/landing/google-play-badge.png" class="app-download-google" alt="Download on Google Play"></a>
        </div>
    </div>

    <img src="assets/images/landing/hero-ms.svg" class="global_image hero--ms__featuredImg"
        alt="Illustration of WellCan" />
</section>
<div class="landing__mainContent">
    <section class="landing__whatIs landing__whatIs--ms">
        <div class="whatIsCBT__wrapper">
            <h2 class="global__header2 color--brand1">Welcome to WellCan</h2>
            <p class="global__paragraph global__paragraph--large global__paragraph--italic">Well-being resources and
                live virtual counselling for Canadians during the COVID-19 pandemic.</p>
            <br>
            <p class="global__paragraph">The COVID-19 pandemic presents complex and unprecedented challenges, impacting
                all parts of Canadian life: how we socialize, how we work, how we get our essentials, and how we
                maintain our overall health and well-being. And while ensuring we take all recommended preventative
                measures to protect ourselves, our hospitals and healthcare workers, it is important for all Canadians
                to maintain good mental, physical, social and financial health in the midst of this pandemic. WellCan
                can help. </p>
        </div>

        <div class="whatIsICBT__wrapper">
            <h2 class="global__header2 color--brand1">What is WellCan?</h2>
            <p class="global__paragraph">WellCan offers free well-being resources to help Canadians develop coping
                strategies and build resilience and access to free, confidential counselling to help deal with
                uncertainty, mental health and substance abuse concerns during the COVID-19 pandemic.</p>
        </div>
        <img src="assets/images/landing/plantv1.svg" class="global_image whatIs__plant1" alt="A plant" />
        <img src="assets/images/landing/plantv2.svg" class="global_image whatIs__plant2"
            alt="A plant and password stars" />
    </section>

    <section class="landing__howAbilitiWorks">
        <div class="howAbilitiWorks__wrapper">
            <h2 class="global__header2 color--brand1">Start with an assessment </h2>
            <p class="global__paragraph">Assessments can help identify resources that will be most useful based on your
                concerns and circumstances. The assessments guide you through a series of questions and provide a score
                for anxiety, depression, and substance abuse. After completing the assessment, you will receive a
                recommendation to explore specific resources on WellCan, or to contact us for support.</p>
            <br>

            <h2 class="global__header2 color--brand1 explore__title">Explore available resources</h2>
            <p class="global__paragraph">WellCan’s <a href="#" class="global__link"><b>Explore</b></a> section offers a
                number of useful resources available 24/7 to help you manage your well-being throughout the COVID-19
                pandemic, including:</p>
            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Toolkits to adapt to remote work </li>
                <li class="bullet-list__list-item">Tips on effective physical distancing and using technology to combat
                    loneliness in isolation/quarantine</li>
                <li class="bullet-list__list-item">Articles about managing feelings of sadness, anxiety, stress and more
                </li>
            </ul>


        </div>

        <img src="assets/images/landing/feature1-ms.svg" class="global_image features__feature2--img"
            alt="Screenshot of an assessment" />
    </section>

    <section class="landing__isConfidential">
        <div class="isConfidential__wrapper">
            <h2 class="global__header2 color--brand1">Get support when you need it</h2>
            <p class="global__paragraph">Your assessment may recommend you contact us for support right away. You have
                access to two types of <b>counselling</b>, available whether or not you take an assessment to start:</p>
            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Telephone counselling</li>
                <li class="bullet-list__list-item">Online chat counselling</li>
            </ul>
        </div>

        <img src="assets/images/landing/feature4-ms.svg" class="global_image features__feature4--img"
            alt="Person throwing darts" />

    </section>


    <section class="landing__whoTherapists">

        <div class="whoTherapists__wrapper">
            <h2 class="global__header2 color--brand1">The WellCan App: convenient, easy, secure</h2>
            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Search WellCan in the Google Play or Apple App Stores, and select
                    ‘Install’ / ‘Get’</li>
                <li class="bullet-list__list-item">Allow push notifications so you’re up to date on new resources and
                    receive counsellor messages (text-based counselling only)</li>
                <li class="bullet-list__list-item">Browse COVID-19 health and well-being resources in the app</li>
                <li class="bullet-list__list-item">Reach qualified counsellors for telephone or online chat counselling
                </li>
            </ul>

            <div class="downloadBtns">
                <a href="#"><img src="assets/images/landing/download-on-app-store.png" class="app-download-apple" alt="Download on the App Store"></a>
                <a href="#"><img src="assets/images/landing/google-play-badge.png" class="app-download-google" alt="Download on Google Play"></a>
            </div>
        </div>

    </section>
</div>