<section class="hero hero--ms">

    <div class="hero--ms__wrapper">
        <h1 class="global__header1 color--brand1">De l’aide quand vous en avez besoin. Où vous en avez besoin.</h1>
        <!-- <p class="hero__paragraph color--brand1">Start today and save</p>
        <h2 class="hero__price color--brand1">$125<span class="hero__paragraph hero__paragraph--astrisks">*</span></h2>
        <p class="hero__paragraph--small color--brand1">* Limited time offer</p> -->
        <div class="downloadBtns">
            <a href="#"><img src="assets/images/landing/download-on-app-store.png" class="app-download-apple"
                    alt="Download on the App Store"></a>
            <a href="#"><img src="assets/images/landing/google-play-badge.png" class="app-download-google"
                    alt="Download on Google Play"></a>
        </div>
    </div>

    <img src="assets/images/landing/hero-ms.svg" class="global_image hero--ms__featuredImg"
        alt="Illustration of WellCan" />
</section>
<div class="landing__mainContent">
    <section class="landing__whatIs landing__whatIs--ms">
        <div class="whatIsCBT__wrapper">
            <h2 class="global__header2 color--brand1">Voici BienCanadiens</h2>
            <p class="global__paragraph global__paragraph--large global__paragraph--italic">Ressources de bienêtre et
                counseling virtuel en direct offerts aux Canadiens pendant la pandémie de COVID19 </p>
            <br>
            <p class="global__paragraph">La pandémie de COVID-19 pose des défis complexes et sans précédent qui touchent
                tous les aspects de la vie des Canadiens : leurs façons de socialiser, de travailler, de se procurer des
                biens de première nécessité et de préserver leur santé et leur bienêtre globaux. Tout en veillant à
                suivre les mesures préventives recommandées pour se protéger et protéger le personnel hospitalier et les
                travailleurs de la santé, il est important que l’ensemble des Canadiens reste en bonne santé mentale,
                physique, sociale et financière en cette période de pandémie. BienCanadiens peut les aider.</p>
        </div>

        <div class="whatIsICBT__wrapper">
            <h2 class="global__header2 color--brand1">Qu’estce que BienCanadiens?</h2>
            <p class="global__paragraph">BienCanadiens propose gratuitement aux Canadiens des ressources de bienêtre
                conçues pour leur permettre de développer des stratégies d’adaptation, de renforcer leur résilience et
                d’avoir accès en toute confidentialité à du counseling gratuit afin de composer avec l’incertitude, mais
                aussi avec les problèmes de santé mentale et de toxicomanie, et ce, pendant la pandémie de COVID19.</p>
        </div>
        <img src="assets/images/landing/plantv1.svg" class="global_image whatIs__plant1" alt="A plant" />
        <img src="assets/images/landing/plantv2.svg" class="global_image whatIs__plant2"
            alt="A plant and password stars" />
    </section>

    <section class="partners">
        <h3 class="global__header3">
            Corporate Partners
        </h3>

        <div class="partner-logos">
            <img src="assets/images/partners/morneau-shepell-logo.svg" alt="Morneau Shepell">
            <img src="assets/images/partners/canada_life-en.svg" alt="Canada Life">
            <img src="assets/images/partners/SunLifeLogo_Corporate.svg" alt="Sunlife">
            <img src="assets/images/partners/Bell_Logo_Corporate.svg" alt="Bell Canada/Bell Let’s Talk">
        </div>

        <h3 class="global__header3">Community Partners</h3>

        <div class="partner-logos">
            <img src="assets/images/partners/we-logo.svg" alt="WE">
            <img src="assets/images/partners/jack-logo.svg" alt="jack.org">
            <img src="assets/images/partners/StrongestFamilies_logo_Community.svg" alt="Strongest Families">
            <img src="assets/images/partners/Edgewood-Logo_Community.svg" alt="EHN Canada">
        </div>
    </section>

    <section class="landing__howAbilitiWorks">
        <div class="howAbilitiWorks__wrapper">

            <h2 class="global__header2 color--brand1 explore__title">Explorez les ressources disponibles</h2>
            <p class="global__paragraph">La section <a [routerLink]="'/explore'"
                    class="global__link"><b>Explorer</b></a> de BienCanadiens propose de nombreuses ressources utiles et
                accessibles en tout temps pour vous aider à prendre en main votre bienêtre pendant la pandémie de
                COVID19, dont les suivantes : </p>
            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Boîtes à outils pour vous adapter au télétravail</li>
                <li class="bullet-list__list-item">Conseils pour pratiquer l’éloignement physique efficacement et
                    utiliser la technologie pour briser la solitude lorsqu’on est en isolement ou en quarantaine </li>
                <li class="bullet-list__list-item">Articles sur la manière de composer avec la tristesse, l’anxiété,
                    le stress et plus encore.
                </li>
            </ul>


        </div>

        <img src="assets/images/landing/feature1-ms.svg" class="global_image features__feature2--img"
            alt="Screenshot of an assessment" />
    </section>

</div>