<section class="contact__content">
    <img src="assets/images/contact/contact-right.svg" class="global_image envelope__image" alt="Envelope and plant" />

    <div class="contact__form global__form">
        <h1 class="global__header1 color--brand1">FAQs</h1>

        <dl class="faq">
            <dt class="global__dt">Qu’est ce que BienCanadiens?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">BienCanadiens propose gratuitement des ressources pour permettre aux gens de
                    développer des stratégies d’adaptation, de renforcer leur résilience et d’avoir accès en toute
                    confidentialité à du counseling gratuit afin de les aider à composer avec l’incertitude pendant la
                    pandémie de COVID 19.</p>
                <p class="global-paragraph">Pour commencer, vous pouvez répondre à un questionnaire qui permettra
                    d’évaluer vos facteurs de risque à l’égard de certains problèmes, comme l’anxiété, la dépression et
                    l’abus de substances, afin de déterminer le type de soutien dont vous avez besoin : une orientation
                    vers des ressources particulières offertes par BienCanadiens ou du counseling, ou ces deux modes de
                    soutien.</p>
            </dd>

            <dt class="global__dt">Suis je admissible à BienCanadiens?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Tous les citoyens et les résidents du Canada sont admissibles à
                    BienCanadiens, et ils sont encouragés à y avoir recours.</p>
            </dd>

            <dt class="global__dt">Des frais sont ils exigés pour accéder à ces services?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Les services offerts par BienCanadiens sont gratuits, tant l’utilisation des
                    ressources que l’accès aux séances de counseling.</p>
            </dd>

            <dt class="global__dt">La confidentialité de mes renseignements personnels est elle assurée?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Les renseignements personnels permettant d’identifier une personne,
                    l’information liée à la santé et tout autre renseignement communiqué lors des séances de counseling
                    sont confidentiels. BienCanadiens est assujettie aux lois canadiennes sur la protection de la vie
                    privée et s’y conforme.</p>
            </dd>


            <dt class="global__dt">Quels types de ressources sont proposés par BienCanadiens?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Dans la section Explorer, vous trouverez un certain nombre de boîtes à
                    outils, d’articles, de conseils et d’infographies portant sur des sujets très diversifiés, notamment
                    les suivants :</p>
                <ul class="global__bullet-list">
                    <li class="bullet-list__list-item">Éloignement physique, lavage des mains et mesures d’hygiène </li>
                    <li class="bullet-list__list-item">Télétravail</li>
                    <li class="bullet-list__list-item">Utilisation de la technologie pour briser la solitude des
                        personnes en isolement ou en quarantaine</li>
                    <li class="bullet-list__list-item">Renforcement de la résilience et stratégies d’adaptation en
                        période d’incertitude</li>
                    <li class="bullet-list__list-item">Conseils pour parler à vos enfants de la COVID-19</li>
                </ul>
            </dd>

            <!-- <dt class="global__dt">Quand ai je accès à du counseling?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Vous pouvez accéder à du counseling par téléphone et par clavardage tous les
                    jours, de 10 h à minuit, dans tous les fuseaux horaires du Canada.</p>
            </dd>

            <dt class="global__dt">Qui fournit le counseling pour le compte de BienCanadiens ?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">C’est le secteur d’activité sur le mieux-être SynerVie de Morneau Shepell
                    qui fournit les ressources figurant dans la section Explorer de BienCanadiens et les services de
                    counseling.</p>
            </dd>

            <dt class="global__dt">À combien de séances de counseling ai-je droit?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Les deux modes de counseling sont offerts sur demande, quand vous en avez
                    besoin, tous les jours de 10 h à minuit, dans tous les fuseaux horaires du Canada. Dans le cas du
                    counseling par téléphone, vous pouvez obtenir une seule consultation ou plusieurs auprès du même
                    conseiller. Quant au counseling par clavardage, vous serez jumelé à un conseiller différent chaque
                    fois, et il n’est pas possible d’opter pour des consultations régulières avec le même conseiller.
                </p>
            </dd> -->
        </dl>
    </div>

    <img src="assets/images/contact/contact-right.svg" class="global_image square__image" alt="Square and circle" />
</section>