<section class="contact__content">
    <img src="assets/images/contact/contact-right.svg" class="global_image envelope__image" alt="Envelope and plant" />

    <div class="contact__form global__form">
        <h1 class="global__header1 color--brand1">FAQs</h1>

        <dl class="faq">
            <dt class="global__dt">What is WellCan?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">WellCan offers free resources to help develop coping strategies and build
                    resilience to help deal with uncertainty during the COVID-19 pandemic.</p>
                <p class="global-paragraph">You can start with an assessment to rate your risk factors for things like
                    anxiety, depression and substance abuse, which can help guide you toward the support you need:
                    either direction to specific resources available on WellCan, counselling, or both.</p>
            </dd>

            <dt class="global__dt">Am I eligible to use this?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">All Canadian citizens and residents are eligible and encouraged to use
                    WellCan.</p>
            </dd>

            <dt class="global__dt">Is there a cost for using this service?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">There is no cost to use any of the resources or counselling services
                    available through WellCan.</p>
            </dd>

            <dt class="global__dt">Is my personal information confidential?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">Any personal-identifiable, health-related or other information shared in
                    your counselling session are private and confidential. WellCan is subject to and compliant with all
                    Canadian privacy laws.</p>
            </dd>


            <dt class="global__dt">What resources are available through WellCan?</dt>
            <dd class="global__dd">
                <p class="global-paragraph">There are a number of toolkits, articles, tips and infographics available in
                    the Explore resources section, which cover a range of topics including (but not limited to):</p>
                <ul class="global__bullet-list">
                    <li class="bullet-list__list-item">Physical distancing, handwashing and hygiene</li>
                    <li class="bullet-list__list-item">Remote working/telecommuting</li>
                    <li class="bullet-list__list-item">Using technology to combat loneliness in isolation/quarantine
                    </li>
                    <li class="bullet-list__list-item">Boosting resilience and coping strategies in uncertain times</li>
                    <li class="bullet-list__list-item">How to talk to your children about COVID-19</li>
                </ul>
            </dd>
        </dl>
    </div>

    <img src="assets/images/contact/contact-right.svg" class="global_image square__image" alt="Square and circle" />
</section>