<section class="hero hero--support">
 
    <div class="hero--ms__wrapper">
        <h1 class="global__header1 color--brand1">Public Health Agency of Canada</h1>
        <p class="hero__paragraph color--brand1">CORONAVIRUS HOTLINE</p>
        <ul class="global__bullet-list support__resource-list">
            <li class="bullet-list__list-item"><a href="tel:1-833-784-4397" class="global__link">1-833-784-4397 </a></li>
            <li class="bullet-list__list-item"><a href="https://ipac-canada.org/coronavirus-resources.php" target="_blank" class="global__link">Infection Prevention and Control Canada Resources</a></li>
        </ul>
    </div>
</section>

<section class="support">
    <nav class="support__nav" role="navigation">
        <div class="support__nav--container">
            <a [routerLink]="'/support'" fragment="alberta" class="support__item">Alberta</a>
            <a [routerLink]="'/support'" fragment="bc" class="support__item">British Columbia</a>
            <a [routerLink]="'/support'" fragment="manitoba" class="support__item">Manitoba</a>
            <a [routerLink]="'/support'" fragment="nb" class="support__item">New Bruinswick</a>
            <a [routerLink]="'/support'" fragment="nll" class="support__item">Newfoundland &amp; Labrador</a>
            <a [routerLink]="'/support'" fragment="nwt" class="support__item">Northwest Territories</a>
            <a [routerLink]="'/support'" fragment="ns" class="support__item">Nova Scotia</a>
            <a [routerLink]="'/support'" fragment="nunavat" class="support__item">Nunavat</a>
            <a [routerLink]="'/support'" fragment="ontario" class="support__item">Ontario</a>
            <a [routerLink]="'/support'" fragment="pei" class="support__item">Prince Edward Island</a>
            <a [routerLink]="'/support'" fragment="quebec" class="support__item">Québec</a>
            <a [routerLink]="'/support'" fragment="sask" class="support__item">Saskatchewan</a>
            <a [routerLink]="'/support'" fragment="yukon" class="support__item">Yukon</a>
        </div>
    </nav>

    <main class="support__details" role="main">

        <article class="support__detail province-details__alberta" id="alberta" role="contentinfo">

            <h2 class="global__header2">Alberta</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www.albertahealthservices.ca/assets/healthinfo/link/index.html"
                    class="global__link">Health Link</a></p>

            <p class="global__paragraph">A free, round-the-clock, telephone advice and health information service.
                Highly experienced Registered Nurses can provide advice and information about:</p>

            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Health concerns or symptoms</li>
                <li class="bullet-list__list-item">Treating conditions such as colds and flu, fever, ear aches, rashes,
                    and; many other conditions</li>
                <li class="bullet-list__list-item">The most appropriate health care option, if you need further follow
                    up for your condition</li>
                <li class="bullet-list__list-item">Family Doctors located in Alberta</li>
            </ul>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"> Toll-free: <a class="global__link"
                        href="tel:1-866-408-5465">1-866-408-5465</a></li>
                <li class="bullet-list__list-item"> Edmonton: <a class="global__link"
                        href="tel:780-408-5465">780-408-5465</a></li>
                <li class="bullet-list__list-item"> Calgary: <a class="global__link"
                        href="tel:403-943-5465">403-943-5465</a></li>
            </ul>
        </article>

        <article class="support__detail province-details__bc" id="bc" role="contentinfo">
            <h2 class="global__header2">British Columbia</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank" href="http://www.healthlinkbc.ca"
                    class="global__link">Health Link BC</a></p>

            <p class="global__paragraph">HealthLink BC is a service that provides free, non-emergency health
                information. You can get help and information any time of the day or night, every day of the year. Call
                HealthLink BC to learn about health topics, check your symptoms, and find the services you need. They
                can help you or your family member in more than 130 languages.</p>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    <a class="global__link" href="tel:888-268-4319">888-COVID19</a></li>
                <li class="bullet-list__list-item">
                    <a class="global__link" href="tel:811">8-1-1</a>
                </li>
            </ul>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a
                        href="https://www.cbc.ca/news/canada/british-columbia/what-we-know-coronavirus-1.5487071"
                        target="_blank" class="global__link">Here is what you need to know if you live in B.C. and
                        suspect you have COVID-19.</a></li>
            </ul>


        </article>

        <article class="support__detail province-details__manitoba" id="manitoba" role="contentinfo">
            <h2 class="global__header2">Manitoba</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://manitoba.ca/covid19/bewell/index.html" class="global__link">Health Links</a></p>

            <p class="global__paragraph">This telephone health information service is staffed 24 hours a day, seven days
                a week by knowledgeable, experienced nurses and is free of charge everywhere in Manitoba. In addition to
                getting answers to your questions, you can ask for advice and obtain help to find health care resources
                in your community. </p>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:1-888-315-9257">1-888-315-9257</a>
                </li>
                <li class="bullet-list__list-item">
                    Winnipeg: <a class="global__link" href="tel:204-788-8200">204-788-8200</a>
                </li>
            </ul>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a
                        href="https://www.gov.mb.ca/health/publichealth/factsheets/coronavirus_waiting.pdf"
                        target="_blank" class="global__link">What do I do while waiting for my test results?</a></li>
            </ul>


        </article>

        <article class="support__detail province-details__nb" id="nb" role="contentinfo">
            <h2 class="global__header2">New Bruinswick</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www2.gnb.ca/content/gnb/en/departments/health/Tele-Care.html"
                    class="global__link">Tele-Care</a></p>

            <p class="global__paragraph">Tele-Care is a free, confidential, health advice and information line. Dial <a
                    href="tel:811" class="global__link">811</a> for access to bilingual, registered nurses, 24 hours a
                day, seven days a week. In an emergency, call <a href="tel:911" class="global__link">911</a> or visit
                the local emergency department. </p>


            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:811">8-1-1</a>
                </li>
                <li class="bullet-list__list-item">
                    Emergencies: <a class="global__link" href="tel:911">9-1-1</a>
                </li>
            </ul>
        </article>

        <article class="support__detail province-details__nll" id="nll" role="contentinfo">
            <h2 class="global__header2">Newfoundland &amp; Labrador</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www2.gnb.ca/content/gnb/en/departments/health/Tele-Care.html"
                    class="global__link">HealthLine</a></p>

            <p class="global__paragraph">HealthLine will connect you with an experienced, registered nurse. It’s
                available 24 hours a day, 7 days a week, 365 days a year.</p>

            <p class="global__paragraph">Their team of registered nurses will give you the health advice and
                information.</p>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:1-888-709-2929">1-888-709-2929</a>
                </li>
            </ul>


        </article>

        <article class="support__detail province-details__nwt" id="nwt" role="contentinfo">
            <h2 class="global__header2">Northwest Territories</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank" href="tel:1-833-378-8297"
                    class="global__link">COVID-19 Hotline: 1-833-378-8297</a></p>

            <p class="global__paragraph">For General Questions about COVID-19, contact covid@gov.nt.ca. For questions on
                self-isolation and travel restrictions, contact protectnwt@gov.nt.ca or call 1-833-378-8297.</p>


            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:1-833-378-8297">1-833-378-8297</a>
                </li>
            </ul>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a
                        href="https://www.hss.gov.nt.ca/en/services/coronavirus-disease-covid-19" target="_blank"
                        class="global__link">Coronavirus Disease (COVID-19)</a></li>
            </ul>
        </article>

        <article class="support__detail province-details__ns" id="ns" role="contentinfo">
            <h2 class="global__header2">Nova Scotia</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank" href="https://811.novascotia.ca/home"
                    class="global__link">Health Link</a></p>

            <p class="global__paragraph">Call <a href="tel:811" class="global__link">8-1-1</a>a to talk to a registered
                nurse around the clock, seven days a week. Nurses can also provide information about services provided
                in your area, or general information about your health care concerns. </p>

            <p class="global__paragraph">811 can help you with advice on everything from bee stings, frost bite, to
                coughs, and flu.
                Top five most common reasons for calling 811:</p>

            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">Abdominal pain / discomfort</li>
                <li class="bullet-list__list-item">Chest pain / discomfort</li>
                <li class="bullet-list__list-item">Children’s colds & coughs</li>
                <li class="bullet-list__list-item">Adult colds & coughs</li>
                <li class="bullet-list__list-item">Adult nausea & vomiting</li>
            </ul>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:811">8-1-1</a>
                </li>
            </ul>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a href="https://newsinteractives.cbc.ca/localcovid19/?region=NS"
                        target="_blank" class="global__link">Nova Scotia Coronavirus local updates</a></li>
                <li class="bullet-list__list-item"><a
                        href="https://www.cbc.ca/news/canada/nova-scotia/public-schools-closures-coronavirus-daycares-1.5499131"
                        target="_blank" class="global__link">What parents need to know about school and daycare closures
                        in Nova Scotia</a></li>
            </ul>


        </article>

        <article class="support__detail province-details__nunavat" id="nunavat" role="contentinfo">
            <h2 class="global__header2">Nunavat</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank" href="tel:1-888-975-8601"
                    class="global__link">COVID-19 Hotline: 1-888-975-8601</a></p>

            <p class="global__paragraph">Need to talk to someone if you have COVID-19 symptoms, or have recently
                travelled to or from an affected area? Please call <a href="tel:975-8601"
                    class="global__link">975-8601</a> or <a href="tel:1-888-975-8601"
                    class="global__link">1-888-975-8601</a> from 7:30 a.m. to 7:30 p.m.to speak with someone. Please
                remember this line is for those who need it – and should not be used for general inquiries.</p>


            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:1-888-975-8601">1-888-975-8601</a>
                </li>
            </ul>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a
                        href="https://gov.nu.ca/health/information/covid-19-novel-coronavirus" target="_blank"
                        class="global__link">COVID-19 (Novel Coronavirus)</a></li>
                <li class="bullet-list__list-item"><a href="https://www.gov.nu.ca/health/information/health-centres"
                        target="_blank" class="global__link">Health Centres</a></li>
            </ul>
        </article>

        <article class="support__detail province-details__ontario" id="ontario" role="contentinfo">
            <h2 class="global__header2">Ontario</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="http://www.health.gov.on.ca/en/public/programs/telehealth/"
                    class="global__link">Telehealth</a></p>

            <p class="global__paragraph">Free telephonic access to a Registered Nurse 24 Hours a day, 7 days a Week.
            </p>

            <p class="global__paragraph">Telehealth Ontario is a free, confidential telephone service offering general
                health advice or information from a Registered Nurse who can assess symptoms and help you decide whether
                to care for yourself, make an appointment with your doctor, go to a clinic, contact a community service
                or go to a hospital emergency room.</p>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:1-866-797-0000">1-866-797-0000</a>
                </li>
            </ul>

        </article>

        <article class="support__detail province-details__pei" id="pei" role="contentinfo">
            <h2 class="global__header2">Prince Edward Island</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www.princeedwardisland.ca/en/information/health-and-wellness/811-telehealth"
                    class="global__link">Telehealth</a></p>

            <p class="global__paragraph">A registered nurse is available 24 hours a day to answer your health questions
                over the phone and will: </p>

            <ul class="global__bullet-list">
                <li class="bullet-list__list-item">help you determine whether you require emergency or non-urgent
                    medical attention</li>
                <li class="bullet-list__list-item">provide current, reliable information related to your health issue
                </li>
                <li class="bullet-list__list-item">offer helpful guidance about health services available in the
                    province</li>
            </ul>


            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:811">8-1-1</a>
                </li>
            </ul>
        </article>

        <article class="support__detail province-details__quebec" id="quebec" role="contentinfo">
            <h2 class="global__header2">Québec</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www.quebec.ca/en/health/finding-a-resource/info-sante-811/"
                    class="global__link">Info-Sante 811</a></p>

            <p class="global__paragraph">Residents of the province can call to speak with a Registered Nurse regarding
                health concerns and to be directed to Health and Social Resources.</p>

            <h3 class="resources-title">Resources</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item"><a
                        href="https://www.quebec.ca/en/family-and-support-for-individuals/emergency-daycare-services"
                        target="_blank" class="global__link">Emergency daycare services</a></li>
            </ul>

        </article>

        <article class="support__detail province-details__sask" id="sask" role="contentinfo">
            <h2 class="global__header2">Saskatchewan</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="https://www.saskatchewan.ca/residents/health/accessing-health-care-services/healthline"
                    class="global__link">HealthLine</a></p>

            <p class="global__paragraph">HealthLine is a confidential, 24-hour health information and support telephone
                line. It is staffed by experienced and specially trained client navigators, registered nurses,
                registered psychiatric nurses and social workers.</p>

            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:811">8-1-1</a>
                </li>
            </ul>

        </article>

        <article class="support__detail province-details__yukon" id="yukon" role="contentinfo">
            <h2 class="global__header2">Yukon</h2>

            <p class="global__paragraph support__feature-link"><a target="_blank"
                    href="http://www.hss.gov.yk.ca/811.php" class="global__link">Yokun HealthLine</a></p>

            <p class="global__paragraph">The Yukon HealthLine is a free, confidential 24-hour service available to
                anyone in the Yukon.
                Yukon HealthLine is staffed by registered nurses who can answer your health questions or direct you to
                someone in your community who can assist you.</p>


            <h3 class="resources-title">Phone Numbers</h3>
            <ul class="global__bullet-list support__resource-list">
                <li class="bullet-list__list-item">
                    Toll-free: <a class="global__link" href="tel:811">8-1-1</a>
                </li>
            </ul>

        </article>

    </main>
</section>